@import "colors";

.copyable-hash {
  display: inline-flex;
  position: relative;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;

  .tooltip {
    position: absolute;
    padding: 4px;
    border-radius: 4px;
    background: $black;
    color: $white;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
    z-index: -1;
  }

  &.tooltip-visible .tooltip {
    opacity: 1;
  }
}
