@import "colors";
@import "fonts";

.RegisterLogin {
  margin: auto;
  max-width: 960px;

  &__LogoFrost {
    margin-top: 102px;
  }

  &__title {
    margin-bottom: 72px;
    margin-top: 40px;
    font-size: 20px;
    line-height: 29px;
    color: $night-rider;
  }

  &__vertical-line {
    position: absolute;
    left: 50%;
    top: -8px;
    height: 100%;
    border-left: 1px solid $nobel;
    opacity: 0.21;
  }

  &__signUp {
    margin-bottom: 2.25rem;
    font-family: $arvo;
    font-size: 26px;
    line-height: 32px;
    color: $gondola;
  }

  &__signIn {
    padding-left: 0px;
    padding-right: 30px;
  }
}
