@import 'colors';

.Announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: .5rem;
  border-radius: .5rem;
  background-color: $announcement;
  color: $black-rock;
}
