@import "../../styles/colors";

.Checkbox {

  label {
    margin-left: 10px;	
    font-size: 10px;	
    line-height: 14px;
    color: $night-rider3;
  }
    
  &__Input {
    height: auto;        
    width: auto;
    margin-bottom: 10px;
  }
}
