.InputButton {
  width: 100%;

  &__input {
    height: 50px;
    width: 322px;
    padding: 17px 20px;	
    border: 1px solid $wild-sand;	
    border-radius: 3px;	
    font-size: 12px;	
    line-height: 17px;	
    background-color: $white;
    color: $grey;

    &:focus {
      outline: none;
    }
  }

  &__button {
    height: 50px;
    width: 140px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
}
