@import "colors";

.Header_home {
  height: 100%;
  border: 1px solid $black-russian2;
  background-color: $black-rock2;
  @media screen and (min-width: 768px) {
    height: 80px;
  }

  &__box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    padding: .5em;
    max-width: 960px;
    @media screen and (min-width: 768px) {
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: auto;
    }

    &__links {
      padding-left: 1em;
      @media screen and (min-width: 768px) {
        flex: 1 0 auto;
      }
    }

    &__right {
      display: flex;
      flex: 0 0 8.75em;
      flex-flow: row wrap;
      align-items: center;
      justify-content:center;
      height: 100%;
      order: 0;
      @media screen and (min-width: 519px) {
        order: 3;
      }
    }

    &__logo {
      flex: 0 0 8.75em;
      width: 100px;
      margin-right: 0em;
      padding-left: .5em;
      @media screen and (min-width: 768px) {
        width:140px;
        margin-right: 2.5em;
      }
    }

    &__button {
      width: 98px;
      margin-right: .5em;
      @media screen and (min-width: 768px) {
        width: 137px;
      }
    }
  }
}
