@import "colors";

.Header_home {
  height: 80px;
  width: 100vw;
  border: 1px solid $black-russian2;
  background-color: $black-rock2;
  @media screen and (max-width: 800px) {
    height:100%;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: auto;
    max-width: 960px;
    @media screen and (max-width: 800px) {
      flex-flow: row wrap;
      justify-content:center;
      margin:.5em;
    }

    &__links {
      @media screen and (min-width: 800px) {
        margin-left:-21em;
      }
    }

    &__right {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content:center;
      height: 100%;
      order:3;
      @media screen and (max-width: 400px) {
        order:0;
      }
    }

    &__logo {
      width: 140px;
      margin-left: .5em;
      margin-right: 40px;
      @media screen and (max-width: 800px) {
        width:100px;
      }
    }

    &__button {
      width: 137px;
      @media screen and (max-width: 800px) {
        width:98px;
        margin-right:.5em;
      }
    }
  }
}
