.PanelOptions {
  padding: 0 140px;
  &__welcome {
    h2 {
      color: #393534;
      font-family: "Open Sans";
      font-size: 24px;
      font-weight: 600;
      line-height: 33px;
      margin-top: 28px;
    }

    p {
      color: #2D2D2D;
      font-family: "Open Sans";
      font-size: 12px;
      line-height: 20px;
    }
  }

  &__box-buttons {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    a {
      text-decoration: none;
      margin: 0 20px 20px 0;
    }
  }
}