@import "colors";

.PanelOptions {
  flex-grow: 1;
  padding: 0 28px;
  background-color: $sand-stone;

  &__welcome {

    h2 {
      margin-top: 28px;
      font-size: 24px;
      font-weight: 600;
      line-height: 33px;
      color: $gondola;
    }

    p {
      font-size: 12px;
      line-height: 20px;
      color: $night-rider2;
    }
  }

  &__box-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    a {
      margin: 0 20px 20px 0;
      text-decoration: none;
    }
  }
}
