@import "../../styles/fonts";
@import "../../styles/colors";

.Form {
  &__legend {
    color: $gondola;	
    font-family: $arvo;	
    font-size: 26px;	
    line-height: 32px;
    margin-bottom: 15px;
  }

  input {
    margin-top: 20px;
  }

  button {
    margin-top: 20px;
  }
}