@import "../../styles/fonts";

@import "../../styles/colors";

.Form {

  &__legend {
    margin-bottom: 15px;	
    font-family: $arvo;	
    font-size: 26px;	
    line-height: 32px;
    color: $gondola;
  }

  input {
    margin-top: 20px;
  }

  button {
    margin-top: 20px;
  }
}
