@import "colors";

.FooterHome {
  width: 100%;
  background-color: $white;
  @media screen and (min-width: 48rem) {
    height: 5.625rem;
    margin-top: 4.69rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: auto;
    max-width: 60rem;
    @media screen and (min-width: 48rem) {
      flex-direction: row;
    }

    &__leftContent {
      width: 6.25rem;
      margin: 0rem;
      padding-bottom: .5rem;
      padding-top: .5rem;
      @media screen and (min-width: 48rem) {
        margin-left: 1rem;
      }
    }

    &__rightContent {
      padding-bottom: 1rem;
      padding-right:1rem;
      padding-right: 0rem;
      text-align: center;
      font-size: .875rem;
      line-height: 1.37rem;
      color: $night-rider2;
      @media screen and (min-width: 48rem) {
        padding-bottom: 0rem;
        padding-right: 1rem;
      }
    }
  }
}
