@import "colors";

.FooterHome {
  height: 90px;
  width: 100%;
  margin-top: 75px;
  background-color: $white;
  @media screen and (max-width: 800px) {
    margin-top: 0px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: auto;
    max-width: 960px;

    &__leftContent {
      width: 100px;
      margin-left:1em;
    }

    &__rightContent {
      text-align: center;
      font-size: 14px;
      line-height: 22px;
      color: $night-rider2;
    }
  }
}
