@import "../../styles/colors";

.FooterHome {
  height: 90px;
  width: 100%;
  background-color: $white;

  &__container {
    height: 100%;
    margin: auto;
    max-width: 960px;

    &__leftContent {
      width: 100px;
    }

    &__rightContent {
      text-align: center;
      font-size: 14px;
      line-height: 22px;
      color: $night-rider2;
    }
  }
}
