@import "../../styles/colors";

.copyable-hash {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;

  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  button {
    display: none;
  }

  .value {
    cursor: pointer;
  }

  .tooltip {
    position: fixed;
    padding: 4px;
    border-radius: 4px;
    background: $black;
    color: $white;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
  }

  &.tooltip-visible .tooltip {
    opacity: 1;
  }
}


.copyable-hash-no-button {

  @extend .copyable-hash;
  cursor: pointer;

  button {
    display: none;
  }
}
