
.copyable-hash {
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;

  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  button {
    display: none;
  }

  .value {
    cursor: pointer;
  }

  .tooltip {
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
    padding: 4px;
    background: black;
    color: white;
    border-radius: 4px;
    position: fixed;
  }

  &.tooltip-visible .tooltip {
    opacity: 1;
  }
}


.copyable-hash-no-button {
  @extend .copyable-hash;
  cursor: pointer;

  button {
    display: none;
  }
}