@import "../../styles/colors";

.LegendVerifiedAccount {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 620px;
  padding: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: $mandy;
  color: $white;
  vertical-align: middle;

  &--hide {
    display: none;
  }

  &__text {
    margin: 0px;
    font-size: 12px;
    line-height: 40px;
  }

  &__button {
    height: 30px;
    width: auto;
    margin-left: 30px;
    padding: 6px 12px;
    border: 2px solid $white;
    border-radius: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    box-shadow: none;
    background-color: $transparent;
    text-transform: uppercase;
        
    &:hover {
      background-color: $white;
      color: $mandy;
    }
  }
}
