@import "colors";

.Input {	
  height: 50px;	
  width: 100%;
  padding: 17px 20px;	
  border: 1px solid $wild-sand;	
  border-radius: 3px;	
  font-size: 12px;	
  line-height: 17px;	
  background-color: $white;
  color: $grey;

  &:focus {
    outline-color: $cornflower-blue;
    outline-offset: -2px;
    outline-width: 0.1px;
  }
}
