@import "colors";

.BoxSimple {
  padding: 0px 18px;

  &__circle {
    height: 52px;
    width: 52px;
    margin: auto;
    margin-bottom: 11px;
    border-radius: 100%;
    background-color: $white;
  }

  &__title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 33px;
    color: $gondola;
  }

  &__description {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    color: $night-rider2;
  }
}
