@import "colors";

.BoxSimple {
  padding: 0rem 1.125rem;

  &__image {
    margin-left: 50%;
    max-width: 8.75rem;
    transform: translateX(-50%);
    @media screen and (min-width: 48rem) {
      margin-left:auto;
      max-width:100%;
      transform:translateX(0%);
    }
  }

  &__circle {
    height: 3.25rem;
    width: 3.25rem;
    margin: auto;
    margin-bottom: .69rem;
    border-radius: 100%;
    background-color: $white;
  }

  &__title {
    margin-bottom: .625rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
    color: $gondola;
    @media screen and (min-width: 48rem) {
      font-size: 1.25rem;
    }
  }

  &__description {
    text-align: center;
    font-size: .88rem;
    line-height: 1.38rem;
    color: $night-rider2;
  }
}
