@import "colors";

.BoxSimple {
  padding: 0em 1.125em;

  &__image {
    margin-left:50%;
    max-width:140px;
    transform:translateX(-50%);
    @media screen and (min-width: 768px) {
      margin-left:auto;
      max-width:100%;
      transform:translateX(0%);
    }
  }

  &__circle {
    height: 52px;
    width: 52px;
    margin: auto;
    margin-bottom: .69em;
    border-radius: 100%;
    background-color: $white;
  }

  &__title {
    margin-bottom: .625em;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    line-height: 2em;
    color: $gondola;
    @media screen and (min-width: 768px) {
      font-size: 1.25em;
    }
  }

  &__description {
    text-align: center;
    font-size: .88em;
    line-height: 1.38em;
    color: $night-rider2;
  }
}
