@import "../../styles/colors";

.Toggle {
  &__text {
    margin: 0px;
    color: $ebony;	
    font-size: 12px;	
    line-height: 17px;
  }

  &__image {
    margin: 0px 13px;
  }

  &__tooltip {
    .Tooltip__tooltiptext {
      width: 200px;
    } 
  }
}