.Toggle {
    &__text {
        margin: 0px;
        color: #2E323B;	
        font-family: "Open Sans";	
        font-size: 12px;	
        line-height: 17px;
    }

    &__image {
        margin: 0px 13px;
    }
}