@import "colors";

.ToggleRP {
  height: 2rem;
  width: 3.2rem;
  border-color: $ghost-white;
  border-radius: 45%;
  background-color: $ghost-white;
  color: $transparent;

  &:focus {
    outline: none;
  }
}

[role="switch"][aria-checked="true"] :first-child,
[role="switch"][aria-checked="false"] :last-child {
  border-radius: 50%;
  font-size: 1.2rem;
  background: #4085DE;
  color: $transparent;
}

[role="switch"][aria-checked="true"] :first-child {
  margin-left: -20%;
  margin-right: default;
}

[role="switch"][aria-checked="false"] :last-child {
  margin-left: default;
  margin-right: -20%;
}
