@import 'colors';

.WorkClaimForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;

  &__name {
    width: 49%;
    margin-right: .5rem;
  }

  &__author {
    width: 49%;
  }

  &__datePublished {
    width: 32.66%;
    margin-right: .25rem;
  }

  &__dateCreated {
    width: 32.66%;
    margin-right: .25rem;
  }

  &__tags {
    width: 32.66%;
  }

  &__content {
    height: 4rem;
    /* stylelint-disable */
    width: calc(98% + .5rem);
    margin-bottom: .75rem;
    /* stylelint-enable */
    margin-top: 1.5rem;
  }
}
