@import "colors";

.Button {
  height: 2.5rem;
  width: 100%;
  border: 0rem;
  border-radius: .25rem;
  font-size: .75rem;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0,0,0,.08), 0 2px 4px rgba(0,0,0,.12);
  background-color: $poet-green;
  color: $white;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &__danger {
    background-color: $mandy
  }
}
