@import "colors";

.Button {
  height: 3.25em;
  width: 100%;
  border: 0em;
  border-radius: 4px;
  font-size: .75em;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0,0,0,.08), 0 2px 4px rgba(0,0,0,.12);
  background-color: $cornflower-blue;
  color: $white;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &__danger {
    background-color: $mandy
  }
}
