@import "colors";

.LinksHeader {
  margin-bottom: 0rem;

  &__item {
    display: inline-block;
    margin-right: .625rem;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.19rem;
    @media screen and (min-width: 48rem) {
      margin-right: 1.56rem;
    }

    a {
      color: $azure;
      text-decoration: none;
    }
  }
}
