@import "colors";

.LinksHeader {
  margin-bottom: 0px;

  &__item {
    display: inline-block;
    margin-right: 25px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;

    a {
      color: $azure;
      text-decoration: none;
    }
  }
}
