$transparent: transparent;
$white: #FFF;
$white-smoke: #F0F0F0;
$black: #000;
$gondola: #393534;
$spring-wood: #E3E1DF;
$black-russian: #22252B;
$black-russian2: #1A1B24;
$mandy: #DD4D5E;
$ebony: #2E323B;
$ghost-white: #F4F5F9;
$night-rider: #343434;
$night-rider2: #2D2D2D;
$night-rider3: #2E2E2E;
$nobel: #979797;
$black-rock: #2C2E3B;
$black-rock2: #2C2E3C;
$cornflower-blue: #449BF3;
$gainsboro: #DADADA;
$gainsboro2: #DFDFDF;
$dim-gray: #6F6F6F;
$dim-gray2: #676767;
$dim-gray3: #737373;
$wild-sand: #E6E4E1;
$grey: #7D7D7D;
$eclipse: #393939;
$azure: #F6F8F8;
