@import '../../styles/colors.scss';

@import "../../styles/fonts";

.Home {
  background-color: $ghost-white;

  &__header {
    height: 80px;
    width: 100%;
    border: 1px solid $black-russian2;
    background-color: $black-rock2;

    &__box {
      height: 100%;
      margin: auto;
      max-width: 960px;

      &__left {
        height: 100%;
      }

      &__logo {
        width: 140px;
        margin-right: 40px;
      }

      &__button {
        width: 137px;
      }
    }
  }

  &__cover-page {
    height: 697px;
    background-color: $black-rock;

    &__box {
      height: 100%;
      margin: auto;
      padding-top: 104px;
      max-width: 960px;

      &__logo {
        width: 120px;
        margin-bottom: 20px;
      }

      &__title {
        margin-bottom: 10px;
        font-family: $arvo;
        font-size: 53px;
        font-weight: 800;
        line-height: 69px;
        color: $white;
      }

      &__description {
        margin-bottom: 40px;
        padding-right: 120px;
        font-size: 20px;
        line-height: 29px;
        color: $gainsboro;
      }

      &__btn-token {
        width: 160px;
        margin-right: 21px;
      }

      &__btn-started {
        width: 160px;
        background-color: $white;
        color: $cornflower-blue;
      }
    }
  }

  &__what-frost {

    &__box {
      margin: auto;
      max-width: 960px;

      &__title {
        margin-top: 70px;
        text-align: center;
        font-family: $arvo;
        font-size: 26px;
        line-height: 32px;
        color: $gondola;
      }

      &__description {
        margin-bottom: 134px;
        margin-top: 14px;
        text-align: center;
        font-size: 20px;
        line-height: 29px;
        color: $dim-gray;
      }

      &__simple {
        width: 33.33%;
        margin-right: 45px;

        &:last-child {
          margin-right: 0px;
        }
      }

      &__updates {
        height: 158px;
        margin-top: 134px;
        border-bottom: 1px solid $gainsboro2;
        border-top: 1px solid $gainsboro2;

        &__title {
          margin-bottom: 13px;
          font-size: 25px;
          font-weight: bold;
          line-height: 28px;
          color: $cornflower-blue;
        }

        &__description {
          margin: 0px;
          font-size: 14px;
          line-height: 20px;
          color: $night-rider2;
        }
      }
    }
  }

  &__footer {
    margin-top: 75px;
  }
}
