@import '../../styles/colors.scss';
@import "../../styles/fonts";

.Home {
  background-color: $ghost-white;
  &__header {
    height: 80px;
    width: 100%;
    border: 1px solid $black-russian2;
    background-color: $black-rock2;
    &__box {
      max-width: 960px;
      margin: auto;
      height: 100%;
      &__left {
        height: 100%;
      }
      &__logo {
        margin-right: 40px;
        width: 140px;
      }
      &__button {
        width: 137px;
      }
    }
  }

  &__cover-page {
    background-color: $black-rock;
    height: 697px;
    &__box {
      max-width: 960px;
      margin: auto;
      height: 100%;
      padding-top: 104px;
      &__logo {
        margin-bottom: 20px;
        width: 120px;
      }
      &__title {
        color: $white;
        font-family: $arvo;
        font-size: 53px;
        line-height: 69px;
        margin-bottom: 10px;
        font-weight: 800;
      }
      &__description {
        color: $gainsboro;
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 40px;
        padding-right: 120px;
      }
      &__btn-token {
        margin-right: 21px;
        width: 160px;
      }
      &__btn-started {
        background-color: $white;
        color: $cornflower-blue;
        width: 160px;
      }
    }
  }

  &__what-frost {
    &__box {
      max-width: 960px;
      margin: auto;
      &__title {
        color: $gondola;
        font-family: $arvo;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        margin-top: 70px;
      }

      &__description {
        color: $dim-gray;
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        margin-top: 14px;
        margin-bottom: 134px;
      }

      &__simple {
        margin-right: 45px;
        width: 33.33%;
        &:last-child {
          margin-right: 0px;
        }
      }

      &__updates {
        height: 158px;
        border-top: 1px solid $gainsboro2;
        border-bottom: 1px solid $gainsboro2;
        margin-top: 134px;
        &__title {
          color: $cornflower-blue;
          font-size: 25px;
          font-weight: bold;
          line-height: 28px;
          margin-bottom: 13px;
        }

        &__description {
          color: $night-rider2;
          font-size: 14px;
          line-height: 20px;
          margin: 0px;
        }
      }
    }
  }

  &__footer {
    margin-top: 75px;
  }
}
