@import "colors.scss";
@import "fonts";
$home-small-screen: 48rem;

.Home {
  background-color: $white;

  &__btn-token {
    width: 10rem;
    margin: 0em 0em 1rem;
    @media screen and (min-width: 50rem) {
      margin: auto 1.3rem auto auto;
    }
  }

  &__btn-started {
    width: 10rem;
    margin-bottom: 1rem;
    background-color: $white;
    color: $poet-green;
  }

  &__logo-frost-only {
    width:35vw;
    @media screen and (min-width: 56.25rem) {
      width: auto;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    @media screen and (min-width: $home-small-screen) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__what-frost {

    &__box {
      margin: auto;
      max-width: 60rem;

      &__title {
        margin-top: 1.25rem;
        text-align: center;
        font-family: $arvo;
        font-size: 1.625rem;
        line-height: 1.3rem;
        color: $gondola;
        @media screen and (min-width: $home-small-screen) {
          margin-top: 2.8rem;
        }
      }

      &__description {
        margin: 1rem;
        text-align: center;
        font-size: 1.25rem;
        line-height: 1.3rem;
        color: $dim-gray;
        @media screen and (min-width: $home-small-screen) {
          margin: .88rem auto 5rem;
        }
      }

      &__container-box-simple {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $home-small-screen) {
          flex-direction: row;
        }
      }

      &__simple {
        width: 100%;
        @media screen and (min-width: $home-small-screen) {
          width: 33.33%;
          margin-right: 2.8rem;
        }

        &:last-child {
          margin-right: 0em;
        }
      }

      &__updates {
        height: 9.875rem;
        margin-top: 8.375rem;
        border-bottom: 1px solid $gainsboro2;
        border-top: 1px solid $gainsboro2;

        &__title {
          margin-bottom: .8125rem;
          font-size: 1.56rem;
          font-weight: bold;
          line-height: 1.75rem;
          color: $poet-green;
        }

        &__description {
          margin: 0rem;
          font-size: .875rem;
          line-height: 1.25rem;
          color: $night-rider2;
        }
      }
    }
  }
}
