.Dashboard {
    &__nav {
        background-color: #2E323B;	
        box-shadow: 0 2px 0 0 #F0F0F0;
        height: 100vh;
        width: 270px;
        &__header {
            height: 64px;
            background-color: #22252B;
            display: flex;
            align-items: center;
            &__logo {
                margin-left: 22px;
                width: 111px;
            }
        }
    }

    &__body {
        width: calc(100% - 270px);
        &__header {
            background-color: #FFF;
            height: 64px;
            border-bottom: 1px solid rgba(0,0,0,0.11);
        }

        &__message {
            background-color: #FFF;
            height: 90px;
            padding-left: 140px;
            h2 {
                color: #393534;	
                font-family: "Open Sans";	
                font-size: 14px;	
                font-weight: bold;	
                line-height: 19px;
            }

            p {
                color: #2D2D2D;	
                font-family: "Open Sans";	
                font-size: 12px;	
                line-height: 20px;
            }
        }

        &__actions {
            padding-left: 140px;
            &__welcome {
                h2 {
                   color: #393534;	
                   font-family: "Open Sans";	
                   font-size: 24px;	
                   font-weight: 600;	
                   line-height: 33px;
                   margin-top: 28px;
                }
    
                p {
                   color: #2D2D2D;	
                   font-family: "Open Sans";	
                   font-size: 12px;	
                   line-height: 20px;
                }
            }

            &__box-buttons {
                margin-top: 40px;
                .BoxButton {
                    float: left;
                    margin-left: 20px;
                    &:first-child {
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}
