@import "colors";

.Tooltip {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-size: 12px;

  &__tooltiptext {
    position: absolute;
    top: 135%;
    width: 120px;
    padding: 5px 10px;
    border-radius: 6px;
    text-align: center;
    background-color: $cornflower-blue;
    color: $white;
    opacity: 0;
    transition: opacity 0.3s;
    visibility: hidden;
    z-index: 1;
  }

  &__tooltiptext::after {
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-left: -5px;
    border-color: $transparent $transparent $cornflower-blue;
    border-style: solid;
    border-width: 5px;
    content: "";
  }

  &:hover &__tooltiptext {
    opacity: 1;
    visibility: visible;
  }
}

