.BoxButton {
    height: 227px;
    width: 300px;
    border: 1px solid #E3E1DF;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 0 0 #F0F0F0;
    padding: 0px 18px;

    &__circle {
        height: 52px;
        width: 52px;
        background-color: #F4F5F9;
        border-radius: 100%;
        margin: auto;
        margin-top: 18px;
    }

    &__title {
        color: #393534;	
        font-family: "Open Sans";	
        font-size: 14px;	
        font-weight: bold;	
        line-height: 19px;
        text-align: center;
        margin-top: 11px;
    }

    &__description {
        color: #2D2D2D;	
        font-family: "Open Sans";	
        font-size: 10px;	
        line-height: 20px;	
        text-align: center;
        margin-top: 9px;
    }

    &__button {
        margin: auto;
        display: block;
        margin-top: 18px;
        width: 140px;
    }
}