@import "../../styles/colors";

.BoxButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 257px;
  width: 330px;
  padding: 20px;
  border: 1px solid $spring-wood;
  border-radius: 4px;
  box-shadow: 0 2px 0 0 $white-smoke;
  background-color: $white;

  &__circle {
    height: 52px;
    width: 52px;
  }

  &__title {
    margin-top: 11px;	
    font-size: 16px;
    font-weight: bold;	
    line-height: 19px;
    color: $gondola;
  }

  &__description {
    margin-top: 9px;	
    text-align: center;	
    font-size: 12px;
    line-height: 20px;
    color: $night-rider2;
  }

  &__button {
    width: 140px;
    margin-top: auto;
  }
}
