@import "colors";

.BoxToken {
  width: 620px;
  border: 1px solid $spring-wood;
  border-radius: 4px;
  box-shadow: 0 2px 0 0 $white-smoke;
  background-color: $white;
  min-height: 208px;

  &__table {
    width: 100%;

    thead td:first-child,
    tbody td:first-child {
      padding-left: 15px;
    }

    thead td:last-child,
    tbody td:last-child {
      padding-right: 15px;
    }
  }

  &__header {
    height: 36px;
    width: 100%;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid $spring-wood;
    background-color: $white;

    p {
      margin-bottom: 0px;
      font-size: 10px;
      font-weight: 600;
      line-height: 36px;
      color: $dim-gray2;
    }
  }

  &__item {
    height: 34px;
    padding: 0 14px;
    border-bottom: 1px solid $wild-sand;
    font-size: 10px;
    list-style: none;

    &__token {
      color: $dim-gray3;
    }

    &__date {
      position: relative;
      font-size: 11px;
      line-height: 15px;

      &__expired {
        font-weight: bold;
        color: $mandy;
      }

      &__help {
        cursor: help;
      }
    }

    &__actions {

      button {
        border: 0px;
        font-size: 10px;
        font-weight: 600;
        line-height: 34px;
        background-color: $transparent;
        color: $mandy;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
