.Form {
    &__legend {
        color: #393534;	
        font-family: Arvo;	
        font-size: 26px;	
        line-height: 32px;
        margin-bottom: 15px;
    }

    input {
        margin-top: 20px;
    }

    button {
        margin-top: 20px;
    }
}