html, body, #app {
    background-color: #F4F5F9;
    height: 100%;
}

body, html {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0px;
    padding: 0px;
}


.react-progress-bar-percent {
    background-color: #449BF3!important;
    box-shadow: none!important;
}