html, body, #app {
    background-color: #F4F5F9;
    height: 100%;
    min-width: 1080px;
}

body, html {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
   min-width: 1080px;
}

* {
    margin: 0px;
    padding: 0px;
}

.toast {
    padding: 15px;
}
