@import "../../styles/colors";

.Logout {
  &__text {
    color: $ebony;	
    font-size: 12px;	
    line-height: 17px;
    margin: 0px;
  }

  &__button {
    cursor: pointer;
    color: $mandy;	
    font-size: 12px;	
    font-weight: 600;	
    line-height: 17px;
    border: none;
    background-color: $transparent;
  }
}