@import "../../styles/colors";

.Logout {

  &__text {
    margin: 0px;	
    font-size: 12px;	
    line-height: 17px;
    color: $ebony;
  }

  &__button {
    border: none;	
    font-size: 12px;	
    font-weight: 600;	
    line-height: 17px;
    background-color: $transparent;
    color: $mandy;
    cursor: pointer;
  }
}
